@media only screen and (max-width:767px) { 
    
    .p-2{
        border-style: solid;
    }
    .boitemail{
        width: 100vh;
    }

    .entete,.p-2{
        font-size: 2vw;
        
    }

    .logo-i{
        top: 27vw;
    }
 }

#logo2{
    background-image: url(./images/Image-D.png);
    background-size: cover;
    height: 29vw;
}
#logo-3{
    background-image: url(./images/Image-B.png);
    background-size: cover;
    height: 29vw;
}

#logo-4{
    background-image: url(./images/Image-F.png);
    background-size: cover;
    height: auto;
    height: 29vw;
}

#logoi{
    background-image: url(./images/Image-F.png);
    background-size: cover; 
    
}

.logo-i{
    height: 5vw; 
    position: relative; 
    top: 12vw;
}

#image-g{
    background-image: url(./images/Image.G.png); 
    background-size: cover; 
    
}

body{
   text-align: center;
    font-family: 'lato', sans-serif;
   margin: 10%;
   font-size: 1vw;


}

h3, h4{
    font-size: 2vw;
}

.entete{
    position: relative; 
    padding-top: 10%; 
    margin-left: 10vw; 
    margin-right: 10vw; 
    line-height: 2.5vw;
}

.background{
    background-image: url(./images/Image-a.png);
    background-size: cover;
    height: 50vw;
    background-position: center;
}

ul li{
    margin-left: 1.563rem;
    margin-right: 1.563rem;
}


.p-2{
    height: 66.66%;
}

.p-3{
    height: 33.33%;

}
div, .row{
    --bs-gutter-x: 0rem;
    
}


img {
    max-width: 100%;
    height: auto;
  }

  .text{
      color: gray;

      background-color: #f7f7f7;

      height: 30vw; 

    }

  .imagesd{

      background-image: url(Image-D.png);
      background-size: cover;
  }

  .facebook{
    color: blue;
}
.pinterest{
    color: red;
}
.twitter{
    color: aqua;
}
footer{
    background-color: #f7f7f7;
    height:30vh;
    max-width: 100%;
}
.facebook,.pinterest,.twitter
{
    font-size: xx-large;
    text-align: center;
}
#signature
{
    text-align: center;
    margin: auto;
    margin-top: 7%;
}
#logo{
    text-align: center;
    margin: auto;
    margin-top: 6%;

    }

    .card{
        display: flex;
        height: 50vh;
        border: none !important;
    }

    .card-body{
        align-items: center;
        justify-content: center;
    }


    .card-img-top{
        width: 5%;
    }

    .d-flex{
        align-content: center;
        margin-top: 2rem;
    }
    .text-center{
        margin-bottom: 6%;
        height: 20vh;
        display:block;
        line-height: 19vh;
    }
   .newyork{
       margin-top: 10%;
       margin-bottom: -6vh;
   }
   .avenue{
       margin-bottom: -6vh;
   }

   .imagesx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .imagalign {
    display: block;
    display: flex;
    flex-direction: row;
    max-width: 50%;
  }